<div class="homewrapper">
  <div id="home">
    <div class="home-content">
      <%= image_tag "logo.png", height: "100"%>
      <div class="vl"></div>
      <%= image_tag "ikeaLogo.png", height: "50"%>
    </div>
    <div class="header">Apply for the 9 week bootcamp in Helsinborg: <span> April 23rd</span> to <span>June 28th</span></div>
    <div class="grey">
      <iframe src="https://kitt.lewagon.com/camps/id:332/applications/new?background_color=%23F0F0F0&btn_background=%23FD1015&btn_color=white" frameborder="0" height="800px" width="600px"></iframe>
    </div>

  </div>
</div>

